<!-- dodati u table tag *ngIf="!loading" --> 
<table >
  <tr>
    <th>type</th>
    <th>status</th>
    <th>machine Id</th>
    <th>Information System</th>
    <th>user</th>
    <th>time</th>
    <th>text</th>
  </tr>
  <tr *ngFor="let log of logs">
    <td>{{log.type}}</td>
    <td>{{log.status}}</td>
    <td>{{log.machineIp}}</td>
    <td>{{log.informationSystem}}</td>
    <td>{{log.userUsername}}</td>
    <td>{{log.time | date:'dd/MM/yyyy HH:mm:ss'}}</td>
    <td>{{log.text}}</td>
  </tr>
</table>
<br/>
<br/>
<div >
  <br/>
  Search trough database <input type="checkbox" name="databaseCB" [(ngModel)]="this.database">
  <br/>
  Search text field with regex: <input type="checkbox" name="regexCB" [(ngModel)]="this.regex">
  <br/>
</div>

<div *ngIf="this.regex">
  regex: <input type = "text" [(ngModel)]="regexText" width="90%">
</div>
<br/>
<div *ngIf="!this.regex">
  type: 
  <select name="type" [(ngModel)]="this.log.type">
      <option *ngFor="let type of logTypes" [ngValue]="type">  
          {{type}}
      </option>
  </select>
  <br/>
<br/>
  status: 
  <select name="status" [(ngModel)]="this.log.status">
      <option *ngFor="let status of logStatus" [ngValue]="status">  
          {{status}}
      </option>
  </select>
  <br/>
  <br/>

  time: <input type="datetime-local" [(ngModel)]="log.time"/>
  <br/>
  <br/>

  user: <input type="text" [(ngModel)]="log.userUsername"/>
  <br/>
  <br/>

  machine ip: <input type = "number" [(ngModel)]="log.machineIp"/>
  <br/>
  <br/>

  information system: <select name="informationSystem" [(ngModel)]="this.log.informationSystem">
    <option *ngFor="let is of informationSystems" [ngValue]="is">  
        {{is}}
    </option>
</select>
<br/><br/>
  text:  <input type="text" [(ngModel)]="log.text"/>
</div>
<button type="button" (click)="search()">Search</button>




