<div class="grid-container">
 
  <div *ngIf="user!=undefined" class="item1">
    <button (click)='odjava()' class="nav-item nav-link-edit">Logout</button>
    <button class="nav-item nav-link-edit" [routerLink]="['/logs']">Logs</button>
    <button class="nav-item nav-link-edit" [routerLink]="['/alarms']">Alarms</button>
      
  </div>


  <div *ngIf="user==undefined" class="item1">
    <button class="nav-item nav-link-edit" [routerLink]="['/login']">Prijava</button>
  </div>

  <div class="item2">
    <router-outlet></router-outlet>
  </div>
</div>